<h1>Listing new_tests</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_tests.each do |new_test| %>
      <tr>
        <td><%= new_test.email %></td>
        <td><%= link_to 'Show', new_test %></td>
        <td><%= link_to 'Edit', edit_new_test_path(new_test) %></td>
        <td><%= link_to 'Destroy', new_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New test', new_new_test_path %>
